<html>
  <head>
    <title>Google Recaptcha v2 testing</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <form action="" method="POST">
      <h1><a href="https://linkedin.com/in/mohdmujtaba/"> Clieck to See My LinkedIn profile</a></h1>
        <input type="text" name="index-wala-input">
      <div class="g-recaptcha" data-sitekey="put-your-site-key-here-to-make-it-work"></div>
      <br/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>